@font-face {
    font-family: "Abraham";
    src: url("font/AbrahamTRIAL-Regular.otf");
}


.well-done h3 {
    font-family: "Abraham";
}

.flex-content {
    display: flex;
    flex-direction: row-reverse;
}

.madrasa-course-content {
    direction: rtl;
    margin: auto;
    font-size: 20px;
    width: 100%;
    justify-content:space-around;

}

.madrasa-course-content h3 {
    font-size: 28px;
    color: #244080;
    margin:0;
}

.madrasa-course-content .image-container {
    text-align: center;
}

body{
    font-family: "Abraham";
}

#cards-container{
    display:flex;
    flex-wrap: wrap;
    background: lightblue;
    width:100%;
    max-width:800px;
    margin:auto;
    justify-content:space-around;
    padding:20px;
}

.board{
    background: lightblue;
    width:100%;
    max-width:800px;
    margin:auto;
}

.card{
    width:21%;
    background:white;
    height:70px;
    line-height:70px;
    margin:10px 0;
    text-align: center;
    font-size:26px;
    cursor: pointer;
    direction: rtl;
}

h2, h3, p, label{
    text-align: center;
}

#end_prints{
    text-align: center;
    width:100%;
    min-height:100%;
    padding: 8px;
}

.end{
    display:none;
}

.above_board {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 840px;
  }

.restart-btn {
    border: none;
    color: white;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.explination{
    margin-left: 60px;
    text-align: center;
    color: rgb(27, 100, 55);

}

.timer{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    color: rgb(27, 100, 55);
}

.above_board_element:third-child{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 5px 5px;
    flex: 1;
    width: 50px;
    height: 50px;
}

.another_game-btn{
    width: 8em;
    background:rgb(27, 100, 55);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#words_display-btn{
    width: 8em;
    background:rgb(27, 100, 55);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#words_hide-btn{
    width: 8em;
    background:rgb(27, 100, 55);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

@media screen and (max-width:500px) {
     .card{
        width:44%;
        height:45px;
        line-height:45px;
        margin:8px 0;
    }
    #cards-container{
        padding:10px 0;
    }

    .madrasa-course-content h3 {
        text-align: center;
    }
}

.words_list{
    color: rgb(155, 38, 126);
    text-align: center;
    text-emphasis-color: rgb(155, 38, 126);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
