@font-face {
    font-family: "Abraham";
    src: url("../font/AbrahamTRIAL-Regular.otf");
}

body,
body * {
    font-family: "Abraham", Helvetica, sans-serif;
    font-size: 16px;
}

header h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;

}

header {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
}

.main {
    display: flex;

}

@media screen and (max-width:600px) {
    .main {
        display: block;
    
    }
    
}

.configuration{
    padding:0 20px;
}
.configuration div{
    margin-bottom:6px;
}
.result {
    display: none;
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    flex: 1;
}

.result .iframe {
    display: flex;
    margin: 30px;
    align-items: center;
}

.result textarea {
    flex: 1;
    direction: ltr;
    margin: 10px;
    height: 100px;
}